body {
    text-align: center;
    margin: 2em auto;
}

main {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(5, 15em);
    grid-template-rows: repeat(1, 15em);
}

#sect1, #sect2, #sect3, #sect4, #sect5 {
    border: solid black thin;
}

p {
    font-size: 4em; 
}